/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.pudu * {
  font-family: 'Segoe UI', Tahoma, sans-serif !important;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.3 !important;
}
.pudu .v4news {
  display: none;
}
.pudu .ui-pagination-page > a,
.pudu .ui-pagination-page.state-selected > a {
  padding-left: 7px;
  padding-right: 7px;
}
.pudu .content .content-head .info {
  height: 25px;
}
.pudu .focus-1 {
  padding: 10px;
  margin-bottom: 1.3em;
  border-width: 1px;
  border-style: dotted;
  border-color: #f39c12;
  -webkit-box-shadow: 0px 0px 15px #f1c40f;
  -moz-box-shadow: 0px 0px 15px #f1c40f;
  box-shadow: 0px 0px 15px #f1c40f;
}
.pudu .focus-2 {
  padding: 10px;
  margin-bottom: 1.3em;
  border-width: 1px;
  border-style: dotted;
  border-color: #e67e22;
  -webkit-box-shadow: 0px 0px 20px #f39c12;
  -moz-box-shadow: 0px 0px 20px #f39c12;
  box-shadow: 0px 0px 20px #f39c12;
}
.pudu .focus-3 {
  padding: 10px;
  margin-bottom: 1.3em;
  border-width: 1px;
  border-style: dotted;
  border-color: #d35400;
  -webkit-box-shadow: 0px 0px 25px #e67e22;
  -moz-box-shadow: 0px 0px 25px #e67e22;
  box-shadow: 0px 0px 25px #e67e22;
}
.pudu .focus-4 {
  padding: 10px;
  margin-bottom: 1.3em;
  border-width: 1px;
  border-style: dotted;
  border-color: #c0392b;
  -webkit-box-shadow: 0px 0px 30px #d35400;
  -moz-box-shadow: 0px 0px 30px #d35400;
  box-shadow: 0px 0px 30px #d35400;
}
.pudu .focus-5 {
  padding: 10px;
  margin-bottom: 1.3em;
  border-width: 1px;
  border-style: dotted;
  border-color: red;
  -webkit-box-shadow: 0px 0px 35px #c0392b;
  -moz-box-shadow: 0px 0px 35px #c0392b;
  box-shadow: 0px 0px 35px #c0392b;
}
